[ ca ]

default_ca = CA_default

[ CA_extensions ]

basicConstraints = CA:TRUE

[ CA_default ]

certificate = /tmp/artifacts/ca.crt
copy_extensions = copy
database = /tmp/artifacts/index.txt
default_days = 3650
default_md = sha256
new_certs_dir = /tmp/artifacts/certs
policy = CA_policy
private_key = /tmp/artifacts/ca.key
serial = /tmp/artifacts/serial
x509_extensions = CA_extensions

[ CA_policy ]

countryName = match
organizationName = match
organizationalUnitName = match
commonName = supplied

[ req ]

default_bits = 4096
distinguished_name = req_distinguished_name
req_extensions = req_extensions
utf8 = yes
x509_extensions = CA_extensions

[ req_distinguished_name ]

countryName = Country Name (2 letter code)
countryName_default = IT
countryName_min = 2
countryName_max = 2

organizationName = Organization Name (eg, company)
organizationName_default = Red Hat

organizationalUnitName = Organizational Unit Name (eg, section)
organizationalUnitName_default = Global Professional Services

commonName = Common Name (eg, server FQDN or YOUR name)

[ req_extensions ]

basicConstraints = CA:FALSE
extendedKeyUsage = clientAuth,serverAuth
keyUsage = dataEncipherment,keyEncipherment
subjectAltName = IP:127.0.0.1
